<h1>Welcome to SavingApp</h1>

<% if logged_in? %>
  <p>ようこそ、<%= current_user.name %> さん！</p>
  <%= button_to "目標一覧", goals_path %> 
  <%= button_to "ログアウト", logout_path, method: :delete, data: { turbo: false }, class: "btn btn-danger" %>
<% else %>
  <p>まだアカウントをお持ちでない方は、登録してください。</p>
  <%= button_to "新規登録", signup_path %> 
  <%= button_to "ログイン", login_path %>
<% end %>