<h2><%= @goal.name %></h2>
<p>目標金額: <%= @goal.target_amount %>円</p>
<p>現在の節約金額: <%= @goal.saved_amount || 0 %>円</p>

<h3>節約記録を追加</h3>
<%= form_with(model: [@goal, @goal.savings.build], local: true) do |f| %>
  <div>
    <%= f.label :transaction_type %><br>
    <%= f.select :transaction_type, Saving::TRANSACTION_TYPES.map { |t| [t, t] }, include_blank: "選択してください" %>
  </div>
  <div>
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div>
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>
  <div>
    <%= f.submit "追加" %>
  </div>
<% end %>

<h3>節約記録一覧</h3>
<ul>
  <% @goal.savings.each do |saving| %>
    <li><%= saving.amount %>円（カテゴリ: <%= saving.category %> / 理由: <%= saving.reason %>）</li>
  <% end %>
</ul>

<%= link_to "目標一覧に戻る", goals_path %>